.zeolite {
    position: absolute;
    z-index: 2;
    width: 20%;
    top: 30%;
    left: 40%;
}

.back {
    transform: scale(0.7); /* 크기를 0.7배로 줄임 */
    transition: transform 1s ease-out, opacity 1s ease-out; /* 부드러운 크기 및 투명도 변화 */
    opacity: 0; /* 1초 뒤에 완전히 사라짐 */
}

.zeolites {
    position: absolute;
    z-index: 2;
    opacity: 0;
    transform: translateY(20px); /* 살짝 아래에서 시작 */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    top: 0;
    left: 0;
}


.sinha_left, .sinha_right {
    position: absolute;
    z-index: 3;
    opacity: 0;
    transform: translateY(20px); /* 살짝 아래에서 시작 */
    top: 400px;
    transition: opacity 1s ease-in-out,transform 1s ease-in-out;
  }

  .sinha_left {
    left: 650px;
  }
  .sinha_right {
    right: 650px;
  }

.fade-in-up {
    opacity: 1;
    transform: translateY(0); /* 위로 올라오며 나타남 */
}

.fog4_1, .fog4_2 {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    z-index: 4;
}

.explain5_1, .explain5_2, .explain5_3 {
    position: absolute;
    opacity: 0;
    z-index: 5;
    animation-fill-mode: forwards; /* 애니메이션 후 상태를 유지 */
}

.explain5_1 {
    bottom: 200px;
    left: 650px;
}
  
.explain5_2 {
    bottom: 150px;
    left: 250px;
}
  
.explain5_3 {
    bottom: 50px;
    left: 230px;
}

.visible {
    animation: slidein 3s ease-in-out forwards; /* slidein 애니메이션 적용 */
}
  
.hidden {
    animation: slideout 3s ease-in-out forwards; /* slidein 애니메이션 적용 */
}
  
  @keyframes slidein {
    from {
      opacity: 0;
      clip-path: inset(0 100% 0 0);
    }
  
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
  }
  
  /* 두루마리가 말려올라가는 효과 */
  @keyframes slideout {
    from {
      opacity: 1;
      clip-path: inset(0 0 0 0); /* 펼쳐진 상태 */
    }
    to {
      opacity: 0;
      clip-path: inset(0 100% 0 0); /* 상단에서 다시 접힘 */
    }
  }
