.cursor5_1, .cursor5_2, .cursor5_3, .cursor5_4, .cursor5_5 {
    position: absolute;
    z-index: 5;
}

.cursor5_1 {
    width: 10%;
    height: auto;
    top: 300px;
    right: 200px;
    transition: transform 1s ease-in-out;
}

.cursor5_1:hover {
    transform: scale(1.7);
    transition: transform 1s ease-in-out;
}


.cursor5_2 {
    width: 15%;
    height: auto;
    top: 300px;
    right: 400px;
    transition: transform 1s ease-in-out;
}

.cursor5_2:hover {
    transform: scale(1.7);
    transition: transform 1s ease-in-out;
}

.cursor5_3 {
    width: 10%;
    height: auto;
    top: 300px;
    right: 600px;
    transition: transform 1s ease-in-out;
}

.cursor5_3:hover {
    transform: scale(1.7);
    transition: transform 1s ease-in-out;
}

.cursor5_4 {
    width: 10%;
    height: auto;
    top: 300px;
    right: 800px;
    transition: transform 1s ease-in-out;
}

.cursor5_4:hover {
    transform: scale(1.7);
    transition: transform 1s ease-in-out;
}

.cursor5_5 {
    width: 10%;
    height: auto;
    top: 300px;
    right: 1000px;
    transition: transform 1s ease-in-out;
}

.cursor5_5:hover {
    transform: scale(1.7);
    transition: transform 1s ease-in-out;
}