
.palace3 {
    position: absolute;
    bottom: 0;
    right: -2400px;
    z-index: 2;
    transition: transfrom 2s ease-in-out;
    opacity: 0;
    transition: opacity 1.5s ease-out; /* 2초 동안 서서히 선명해짐 */
}

.sinha3 {
    position: absolute;
    bottom: 0;
    left: 410px;
    z-index: 3;
    opacity: 0;
    transition: opacity 1.5s ease-out; /* 2초 동안 서서히 선명해짐 */
    animation: sinhaMove3 4s ease-in-out infinite forwards; /* 10초 동안 양쪽으로 움직이고 반복 */
}

@keyframes sinhaMove3 {
    0% {
        transform: translateX(0%) scaleX(1); /* 원래 상태 */
    }
    49.9% {
        transform: translateX(15%) scaleX(1); /* 반전 이전 상태 */
    }
    50% {
        transform: translateX(15%) scaleX(-1); /* 즉시 좌우 반전 */
    }
    99.9% {
        transform: translateX(0%) scaleX(-1); /* 반전 상태 유지 */
    }
    100% {
        transform: translateX(0%) scaleX(1); /* 다시 원래 상태로 즉시 반전 */
    }
}

.king3_1 {
    position: absolute;
    bottom: 0;
    right: -120px;
    z-index: 3;
    opacity: 0;
    transition: opacity 1.5s ease-out; /* 2초 동안 서서히 선명해짐 */
}

.king3_2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    opacity: 0;
    transition: opacity 1.5s ease-out; /* 2초 동안 서서히 선명해짐 */
}

.fog3_1, .fog3_2 {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    z-index: 4;
    opacity: 0;
    transition: opacity 1.5s ease-out; /* 2초 동안 서서히 선명해짐 */
}

.fog3_1 {
    animation: waterMove3_1 16s ease-in-out infinite; /* 10초 동안 양쪽으로 움직이고 반복 */
}

.fog3_2 {
    animation: waterMove3_2 18s ease-in-out infinite; /* 10초 동안 양쪽으로 움직이고 반복 */
}

@keyframes waterMove3_1 {
  0% {
    transform: translateX(15%); /* 왼쪽으로 완전히 벗어남 */
  }
  50% {
    transform: translateX(5%); /* 원래 위치로 이동 */
  }
  100% {
    transform: translateX(15%); /* 오른쪽으로 완전히 벗어남 */
  }
}

@keyframes waterMove3_2 {
    0% {
      transform: translateX(-15%); /* 왼쪽으로 완전히 벗어남 */
    }
    50% {
      transform: translateX(-5%); /* 원래 위치로 이동 */
    }
    100% {
      transform: translateX(-15%); /* 오른쪽으로 완전히 벗어남 */
    }
  }

  .visible3_2 {
    opacity: 1;
}
