.third-page {
    position: absolute;
    width: 1710px;
    height: 1069px;
    display: flex;
    background-color: rgb(0, 0, 128); /* 남색 고정 */
    overflow: hidden;
}

.content3 {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
.background3 {
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 0;
  transition: opacity 1.5s ease-out; /* 2초 동안 서서히 선명해짐 */
}  

.visible3_1 {
    opacity: 1;
}

@keyframes blinkEffect {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1; /* 마지막에 완전히 검은 화면 유지 */
    }
}

.blink {
    animation: blinkEffect 3s ease-in-out; /* 깜빡이는 애니메이션 */
    background-color: black; /* 화면이 검은색으로 변경 */
    position: fixed;
    top: 0;
    left: 0;
    width: 1710px;
    height: 1069px;
    z-index: 9999; /* 다른 요소들 위로 올라오게 설정 */
}