  .explain3_1, .explain3_2, .explain3_3, .explain3_4, 
  .explain3_5, .explain3_6, .explain3_7, .explain3_8, .explain3_9 {
    position: absolute;
    z-index: 7;
    opacity: 0; /* 기본적으로 투명하게 */
    animation-fill-mode: forwards; /* 애니메이션 후 상태를 유지 */
  }
  
  .slideIn3 {
    z-index: 7;
    animation: slidein3 2.5s ease-in-out forwards;
  }

  @keyframes slidein3 {
    from {
      opacity: 0;
      clip-path: inset(0 0 100% 0);
    }
  
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
  }

  .slideOut3 {
    animation: slideout3 2.5s ease-in-out forwards;
  }

  /* 두루마리가 말려올라가는 효과 */
  @keyframes slideout3 {
    from {
      opacity: 1;
      clip-path: inset(0 0 0 0); /* 펼쳐진 상태 */
    }
    to {
      opacity: 0;
      clip-path: inset(0 0 100% 0); /* 상단에서 다시 접힘 */
    }
  }

  .explain3_1 {
    width: 8%;
    height: auto;
    top: 175px;
    left: 50px;
  }
  
  .explain3_2 {
      top: 200px;
      left: 250px;
  }
  
  .explain3_3 {
      top: 200px;
      left: 400px;
  }
  
  .explain3_4 {
      top: 200px;
      left: 550px;
  }

  .explain3_5 {
    top: 25px;
    left: 50px;
  }
  
  .explain3_6 {
    top: 50px;
    left: 250px;
  }
  
  .explain3_7 {
    top: 50px;
    left: 400px;
  }
  
  .explain3_8 {
    top: 50px;
    left: 550px;
    z-index: 3;
  }

  .explain3_9 {
    top: 50px;
    left: 700px;
    z-index: 3;
  }