
  .scroll-img2 {
    position: absolute;
    opacity: 0;
    z-index: 5;
    transform: translateY(-50px) scaleY(0); /* 초기값: 말려있는 상태 */
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .scroll-img2.visible {
    opacity: 1;
    transform: translateY(0) scaleY(1); /* 두루마리처럼 펼쳐짐 */
  }
  

  .explain2, .explain3, .explain4 {
    position: absolute;
    z-index: 5;
    top: 150px;
    left: 125px;
  }
  
  .explain3 {
    left: 225px;
  }
  
  .explain4 {
    left: 325px;
  }

 