/* 각 이미지를 스크롤에 따라 등장시키기 위한 기본 설정 */
.scroll-img {
  position: absolute;
  opacity: 0;
  z-index: 3;
  transition: opacity 1.5s ease-out, transform 1.5s ease-out; /* 투명도와 위치 변화를 위한 트랜지션 */
  transform: translateY(50px); /* 기본 위치보다 아래 */
}

/* 스크롤로 이미지가 나타날 때 */
.scroll-img.visible {
  opacity: 1;
  transform: translateY(0); /* 제자리로 이동하며 나타남 */
}

/* 각각의 이미지 위치 조정 */
.birds {
  top: 200px;
  left: 100px;
}

.palace {
  top: 70px;
  right: 0px;
}

.zoom-view {
  transform: scale(2); /* 2배 확대 */
  transform-origin: center center; /* 중앙을 기준으로 확대 */
  transition: transform 2.5s ease-in-out; /* 부드러운 확대 효과 */
}

.land {
  z-index: 4;
  left: 0px;
  bottom: 0px;
}

.fog1, .fog2 {
  z-index: 5;
  left: 0px;
  bottom: 0px;
}

 /* 안개가 사라지는 애니메이션 */
 .fog-move-left {
  transform: translateX(-100vw); /* 왼쪽으로 화면에서 사라짐 */
  transition: transform 2s ease-in-out;
}

.fog-move-right {
  transform: translateX(100vw); /* 오른쪽으로 화면에서 사라짐 */
  transition: transform 2s ease-in-out;
}

.moon {
  bottom: 100px;
  right: 300px;
}

.explain1 {
  right: 0px;
  z-index: 5;
}

.water {
  position: absolute;
  bottom: 0px;
  left: -200px;
  z-index: 4;
  height: auto; /* 비율을 유지하면서 자동 높이 */
  animation: waterMove 17s ease-in-out infinite; /* 10초 동안 양쪽으로 움직이고 반복 */
}

@keyframes waterMove {
  0% {
    transform: translateX(-10%); /* 왼쪽으로 완전히 벗어남 */
  }
  50% {
    transform: translateX(10%); /* 원래 위치로 이동 */
  }
  100% {
    transform: translateX(-10%); /* 오른쪽으로 완전히 벗어남 */
  }
}