.zeolite5 {
  position: absolute;
  z-index: 2;
  width: 20%;
  top: 30%;
  left: 40%;
  opacity: 0;
  transition: opacity 1.0s ease-out; /* 2초 동안 서서히 선명해짐 */
}

.zeolites5 {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 2;
  opacity: 0;
  transform: translateY(20px); /* 살짝 아래에서 시작 */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  bottom: 0;
  left: 0;
}

.sinha5{
  position: absolute;
  width: 40%;
  height: auto;
  z-index: 3;
  opacity: 0;
  left: 500px;
  transform: translateY(20px); /* 살짝 아래에서 시작 */
  top: 250px;
  transition: opacity 1s ease-in-out;
}


.fade-in-up {
  opacity: 1;
  transform: translateY(0); /* 위로 올라오며 나타남 */
}

.fog5_1, .fog5_2 {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  z-index: 4;
  opacity: 0;
  transition: opacity 1.0s ease-out; /* 2초 동안 서서히 선명해짐 */
}

.visible5 {
  opacity: 1;
}

.hidden5 {
  opacity: 0;
}