.fifth-page {
  position: absolute;
  width: 1710px;
  height: 1069px;
  display: flex;
  overflow: hidden;
}

.content5 {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background5_1 {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
}  

.next_background {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  opacity: 0;
  animation-fill-mode: forwards;
}

.showNext {
  animation: shining 3s ease-in-out forwards;
}


@keyframes shining {
  0% {
      opacity: 0.3;
  }
  20% {
      opacity: 0.1;
  }
  40% {
      opacity: 0.6;
  }
  50% {
      opacity: 0.3;
  }
  60% {
      opacity: 0.8;
  }
  80% {
      opacity: 0.5;
  }
  100% {
      opacity: 1; /* 마지막에 완전히 검은 화면 유지 */
  }
}