
/* 문 애니메이션 */
.doors1 {
    position: absolute;
    z-index: 3; /* 문이 배경 이미지 위에 나타나도록 설정 */
    width: 1000px;
    height: 76%;
    bottom: -20%; /* 화면의 가운데 아래로 조정 */
  }

  .doors2 {
    position: absolute;
    z-index: 2; /* 문이 배경 이미지 위에 나타나도록 설정 */
    width: 180px;
    height: 54%;
    bottom: -20%; /* 화면의 가운데 아래로 조정 */
  }
  
  .door-left,
  .door-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    transition: transform 1s ease, clip-path 1s ease;
  }
  
  .door-left {
    left: 0;
    transform: translateX(0);
    clip-path: inset(0 0 0 0); /* 처음에는 전체가 보임 */

  }
  
  .door-right {
    right: 0;
    transform: translateX(0);
    clip-path: inset(0 0 0 0); /* 처음에는 전체가 보임 */
  }
  
  .door-left.open {
    transform: translateX(-100%);
    clip-path: inset(0 0 0 100%); /* 왼쪽 변으로부터 점점 잘림 */

  }
  
  .door-right.open {
    transform: translateX(100%);
    clip-path: inset(0 100% 0 0); /* 오른쪽 변으로부터 점점 잘림 */
  }


  @keyframes bounce {
    0% {
      transform: rotate(0deg); /* 원래 위치 */
    }
    25% {
      transform: rotate(-5deg); /* 왼쪽으로 살짝 이동 및 회전 */
    }
    50% {
      transform: rotate(0deg); /* 원래 위치로 돌아옴 */
    }
    75% {
      transform: rotate(5deg); /* 오른쪽으로 살짝 이동 및 회전 */
    }
    100% {
      transform: rotate(0deg); /* 다시 원래 위치로 */
    }
  }
  

.appeal-now {
    position: absolute;
    width: 3%; /* 부모의 크기에 맞춰서 이미지 크기를 조정 */
    height: auto; /* 비율을 유지하면서 높이를 자동으로 설정 */
    top: 60%; /* 상단에서 50% 내려오도록 설정 */
    left: 48.5%; /* 왼쪽에서 50% 이동하도록 설정 */
    z-index: 3;
    transition: transform 1.5s ease-in-out; /* 부드러운 회전 애니메이션 */
    animation-fill-mode: forwards;
}

.appeal-now:hover {
    animation: bounce 0.6s infinite alternate; /* 좌우로 통통 튀는 애니메이션을 hover 시 적용 */
  }

.move-left {
    animation: moveLeft 1.5s ease-in-out forwards;
}

@keyframes moveLeft {
    0% {
      transform: translateX(0); /* 원래 위치 */
    }
    100% {
      transform: translateX(-150px); /* 왼쪽으로 이동 */
    }
  }

.appeal_paper {
    position: absolute;
    width: 18%;
    height: auto;
    z-index: 2;
    top: 61.5%;
    left: 40%;
    opacity: 0;
    animation-fill-mode: forwards;
}
  
.enter {
    animation: enterFromLeft 1.5s ease-in-out forwards;
}

@keyframes enterFromLeft {
    0% {
        clip-path: inset(0 100% 0 0);
        opacity: 0; /* 처음에는 보이지 않음 */
    }
    100% {
        clip-path: inset(0 0 0 0);
        opacity: 1; /* 서서히 나타남 */
    }
  }
  


@keyframes slide {
  from {
    left: -100%;
  }
  to {
    left: 10%;
  }
}

.world.zoom {
  transform: scale(5.0); /* Zoom the world */
  transition: transform 1.5s ease-in-out;
}

  /* 첫 번째 문 (first door) */
.first-doors {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  z-index: 3;
}

.first-door-left,
.first-door-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  transition: transform 1.5s ease-in-out;
}

.first-door-left {
  left: 0;
  transform: translateZ(0);
}

.first-door-right {
  right: 0;
  transform: translateZ(0);
}

.first-door-left.open-forward {
  transform: translateX(-1710px) translateZ(-1000px);
}

.first-door-right.open-forward {
  transform: translateX(1710px) translateZ(-1000px);
}
