
.mountain1_1 {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    transition: opacity 1.5s ease-in-out;
}

.mountain1_2 {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 3;
    transition: opacity 1.5s ease-in-out;
}

.sun1 {
    position: absolute;
    width: 10%;
    height: auto;
    top: 50px;
    left: 100px;
    opacity: 0;
    z-index: 4;
    transition: opacity 1.5s ease-in-out;
}

.moon1 {
    position: absolute;
    width: 10%;
    height: auto;
    top: 50px;
    right: 100px;
    opacity: 0;
    z-index: 4;
    transition: opacity 1.5s ease-in-out;
}

.tree1_1 {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 7;
    transition: opacity 1.5s ease-in-out;
}

.tree1_2 {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 8;
    transition: opacity 1.5s ease-in-out;
}

.water1_1 {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 4;
    transition: opacity 1.5s ease-in-out;
}

.water1_2 {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 6;
    transition: opacity 1.5s ease-in-out;
    animation: waterMove1_1 13s ease-in-out infinite; /* 10초 동안 양쪽으로 움직이고 반복 */
}


@keyframes waterMove1_1 {
    0% {
      transform: translateX(15%); /* 왼쪽으로 완전히 벗어남 */
    }
    50% {
      transform: translateX(5%); /* 원래 위치로 이동 */
    }
    100% {
      transform: translateX(15%); /* 오른쪽으로 완전히 벗어남 */
    }
  }


.water1_3 {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 5;
    transition: opacity 1.5s ease-in-out;
}

.visible1_1 {
    opacity: 1;
}