.sixth-page {
    position: absolute;
    width: 1710px;
    height: 1069px;
    display: flex;
    overflow: hidden;
}

.content6 {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
.background6_1 {
  width: 100%;
  height: auto;
  z-index: 1;
}

.background6_2 {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  height: auto;
  z-index: 2;
  transition: opacity 3s ease-in-out;
}  

.background6_3 {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  height: auto;
  z-index: 2;
  transition: opacity 1.5s ease-in-out;
}

.visible6 {
  opacity: 1;
}

.next_page6 {
  opacity: 1;
  z-index: 10;
}

