.explain4_1, .explain4_2, .explain4_3, .explain4_4, .explain4_5 {
    position: absolute;
    top: 50px;
    z-index: 3;
    opacity: 0;
    animation-fill-mode: forwards; /* 애니메이션 후 상태를 유지 */
  }
  
  .explain4_1 {
    top: 25px;
    left: 50px;
  }
  
  .explain4_2 {
      left: 250px;
  }
  
  .explain4_3 {
      left: 400px;
  }
  
  .explain4_4 {
      left: 550px;
      z-index: 3;
  }

  .explain4_5 {
    left: 700px;
    z-index: 3;
}

.sinha {
    position: absolute;
    bottom: 0;
    left: 410px;
    z-index: 3;
}

