/* appeal_open101 이미지 스타일 */
.appeal-open101 {
    position: absolute;
    left: -1510px;
    top: 25%;

    width: 100%;  /* 오른쪽 5%만 보이도록 */
    z-index: 10;
  }
  
  .explain101_1 {
    position: absolute;
    top: 40%;
    left: 8%;
    width: 80%;
    opacity: 0; /* 초기값 */
    z-index: 11;
  }
  
  /* 이미지2 스타일 */
  .explain101_2 {
    position: absolute;
    top: 40%;
    left: 8%;
    width: 80%;
    opacity: 0; /* 초기값 */
    z-index: 11;
  }