.second-page {
    position: absolute;
    width: 1710px;
    height: 1069px;
    display: flex;
  }

  .content {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    overflow: hidden;
  }

  /* base 이미지 (맨 아래 표시) */
  .content img:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; /* 가장 아래에 표시 */
  }

  
  /* 배경화면이 처음에는 투명하고, 나중에 선명하게 등장 */
  .background2_1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover; /* 이미지를 화면에 꽉 차게 */
    background-position: center;
    z-index: 2;
    opacity: 0; /* 처음에는 투명 */
    transition: opacity 1.5s ease-out; /* 2초 동안 서서히 선명해짐 */
  }

  .visible2 {
    opacity: 1;
  }